body {
	background-color: whitesmoke;
}
div {
	border-bottom: 1.5px solid gainsboro;
	width: 50%;
	margin: 0 auto;
	font-family: arial;
	padding: 0.5%;
}
.name {
	font-size:23px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.summary {
	color: grey;
	font-size: 14px;
}
img {
	width: 153px;
	border: 1.5px solid darkgrey;
	margin-left: 38%;
	text-align: center;
}
.headers {
	font-weight: bold;
	font-size: 16px;
}
a {
	color: blue;
	font-size: 12px;
	margin-left: 5%;
	font-style: italic;
}
.content {
	margin-left: 5%;
	color: dimgrey;
	font-size: 12px;
}
ul {
	margin-left: 1.5%;
	color: dimgrey;
	font-size: 12px;
}
.last {
	border-bottom: none;
}

